#form{
display:flex;
align-items: center;
justify-content: center;
margin-top:10%;
}
body{
    background-color:black;
}
form{
    background-color: lightgray;
    padding:20px;
}
p{
    color:white;
}

#login{
    background-color:gray;
    border-color: lightgray;
}

.signup{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
}