<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Music Player</title>
  <!-- Load FontAwesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Load the custom CSS style file -->
  <link rel="stylesheet" type="text/css" href="/css/playlist.css">
<style>
    .track-art {
   
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRdGrvj7WL4qi_Ugm-gGUGrjDpYGG8kp7s-A&usqp=CAU");
   
  }
  
</style>
</head>
<body>
  
    <div class="leftbase">
      <div class="sidebarbuttons">
            
            <!-- <div> <button >Home</button></div> -->
            <a href="/home">
            <button type="button" class="btn btn-secondary">Home</button>
            </a>
            <a> 
            <button type="button" class="btn btn-secondary">Search</button>
            </a>
            <button type="button" class="btn btn-secondary">Library</button>
             <!-- <button type="button" class="btn btn-secondary">Favourites</button> -->

      </div>
      </div>

  <div class="maincontent">  
      <!-- <div class="   " > -->
        <a href="/login">
        <button class="btn btn-secondary  border border-light rounded-pill float-right" id="dropdownMenuButton" type="button" >
          Username
        </button>
        </a>
       
      
  <div class="sidetrack">
    <div class="details">
        <div class="track-art"></div>
        <div class="track-name">Arjit singh Bollywood Hits
        </div>
        <!-- <div class="track-artist">Track Artist</div> -->
      </div>

    </div>
 
    <div class="playlist">
      <a href="/tracks/61a0843ee42d485e30895ca7">
        <div class="song  border border-info rounded-lg "id="song1"> 1. Hawwa Hawwa</div></a>
       <a href="tracks/61a08536e42d485e30895cbc">
        <div class="song  border border-info rounded-lg"id="song2"> 2. Naddan Parindey</div>
        </a>
        <a href="/tracks/61a0858ee42d485e30895cc9">
        <div class="song border border-info rounded-lg"id="song3"> 3. Kun Faaya Kun</div>
        </a>
        <a href="/tracks/61a0a2c8c9bae09a12d7f430">
        <div class="song border border-info rounded-lg"id="song4"> 4. Sadda Haq</div>
        </a>
        <a href="/tracks/61a090432fce95b855798894">
        <div class="song border border-info rounded-lg"id="song5"> 5. O saiiya</div>
        </a>
        <a href="/tracks/61a0908c2fce95b8557988a7">
        <div class="song border border-info rounded-lg"id="song6"> 6. Gunn Gunna Gun</div>
        </a>
        <!-- <div class="song border border-info rounded-lg"id="song7"> 7.  </div> -->
        <!-- <div class="song border border-info rounded-lg"id="song8"> 8</div>
        <div class="song border border-info rounded-lg"id="song9"> 9</div>
        <div class="song border border-info rounded-lg"id="song10"> 10</div>
        <div class="song border border-info rounded-lg"id="song11"> 11</div>
        <div class="song border border-info rounded-lg"id="song12"> 12</div> 
        <div class="song border border-info rounded-lg"id="song13"> 13</div>
        <div class="song border border-info rounded-lg"id="song14"> 14</div>
        <div class="song border border-info rounded-lg"id="song15"> 15</div>
        <div class="song border border-info rounded-lg"id="song16"> 16</div>
        <div class="song border border-info rounded-lg"id="song17"> 17</div>
        <div class="song border border-info rounded-lg"id="song18"> 18</div> -->

 
    </div>
  
</div>
 
  




  <footer>
    <a href="/tracks/61a06f02693c9b56fb4c084b">

    <div class="buttons">
      <div class="prev-track" onclick="prevTrack()"><i class="fa fa-step-backward fa-2x"></i></div>
      <div class="playpause-track" onclick="playpauseTrack()"><i class="fa fa-play-circle fa-5x"></i></div>
      <div class="next-track" onclick="nextTrack()"><i class="fa fa-step-forward fa-2x"></i></div>
    </div></a>
    <div class="baseline">
    <div class="slider_container">
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
      <div class="total-duration">00:00</div>
    </div>
    <div class="slider_container">
      <i class="fa fa-volume-down"></i>
      <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
      <i class="fa fa-volume-up"></i>
    </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Load the main script for the player -->
  <script src="main.js"></script>
</body>
</html>